body {
  margin: 0;
  font-family: Segoe UI, sans-serif;
  background: #f4f6f8;
}

header {
  background: #007acc;
  color: white;
  padding: 15px;
  display: flex;
  gap: 15px;
}

header img {
  width: 45px;
}

.container {
  max-width: 1100px;
  margin: auto;
  background: white;
  padding: 30px;
}

.question {
  border-left: 4px solid #007acc;
  padding-left: 15px;
  margin-bottom: 25px;
}

.question-title {
  font-weight: 700;
  color: #8e44ad;
}

footer {
  text-align: center;
  padding: 15px;
  background: #eef3f7;
}